<div class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form [formGroup]="formServico" (ngSubmit)="onSubmit(formServico)" >
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" (click)='close()' class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cadastro de Serviço</h4>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <label for="">Descrição *</label>
            <input type="text" class="form-control" formControlName = "descricao"  >
          </div>
          <div class="form-group">
            <label for="">Grupo *</label>
            <select class="form-control" formControlName = "grupo" >
              <option value="">Escolha um grupo</option>
              <option  *ngFor="let grupo of listaGrupos" [value]="grupo" >{{ grupo }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Aliquota (%) *</label>
            <input type="number"  formControlName = "aliquota" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Data Inicio Vigência *</label>
            <input type="text" placeholder="DD/MM/AAAA" [textMask]="{mask: dataMask}" formControlName = "inicioVigencia" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Data Final Vigência *</label>
            <input type="text" placeholder="DD/MM/AAAA" [textMask]="{mask: dataMask}" formControlName = "finalVigencia" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Ativo</label>
            <input type="checkbox"  formControlName = "ativo"  >
          </div>
          <div class="form-group">
            <label for=""><small>* campos obrigatórios</small></label>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" (click)='close()' class="btn btn-default" data-dismiss="modal">fechar</button>
          <button type="submit" class="btn btn-primary" [disabled] = "!formServico.valid" >Salvar</button>
        </div>
      
      </div>
    </form>
    </div>
  </div>