<div class="container">
        <app-servico-form-dialog></app-servico-form-dialog>
    <div class="row text-right">
        <button class="btn btn-primary btn-outline">Associar Serviço</button>
    </div>
    <div class="row">
        <app-servico-table-list
            [colunas] = "colunas"
            [servicos] = "listaServicos"
            (onChangeStatusServico) = "mudaStatusServico($event)"
            (edicaoAtiva) = "editarServico($event)"
            (delecaoAtiva) = "deletarServico($event)"
        ></app-servico-table-list>
    </div>
</div>

